name: "Unit & Smoke Tests - mamba"
on:
  pull_request:
    paths:
      - app/**
      
  workflow_dispatch:

defaults:
  run:
    shell: bash -el {0}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:

      - name: Copy Repository Contents
        uses: actions/checkout@main   
   
      - name: Set up Miniconda and create env 
        uses: conda-incubator/setup-miniconda@v2  
        with: 
          environment-file: app/conda-environment.yaml 
          activate-environment: course 
          auto-activate-base: false 
          use-mamba: true
      
      - name: Run Tests
        run: |
          pip install -U pytest
          pytest app/
        env:
          WANDB_API_KEY: ${{ secrets.WANDB_API_KEY }}